.iconBlue {
  color: #576FFF; /* Change to your desired shade of blue */
}

.iconWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* Adjust as needed */
  justify-content: center;
}

.iconCircle {
  background-color: white; /* White background */
  border-radius: 50%; /* Circular shape */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  padding: 20px; /* Adjust padding to control the size of the circle */
  display: flex;
  align-items: center;
  justify-content: center;
}
